# Midterm Problem \#A
    
                Name:= MUJTABA_BABIKIR,        ID:= s201914970,        Maximum Marks:=15

## Instructions:

    1. Answer all the questions.  
    2. Every question is to be solved/answered in the corresponding cell.  
    3. Do not add any extra cell.  
    4. If you assume anything, mention it clearly in the cell, using comments.  
    5. Execute the cells containing the codes.  
    6. Write the text as comments in the cells.  
    7. The last cell can be used as scratch or rough cell. It's content will not be graded.  
    8. The exam is open book open notes. You are allowed to search online in the official documentation.     
    9. You are NOT allowed to communicate with the other students.  
    10. Submit entire question solution as ONE single ".ipynb" document on the blackboard submission.  
    11. Do not rename the ".ipynb" file during submission.  
    12. All the answer cells should be executed. An unexecuted answer cell will not be graded.  
    13. You have 25 minutes to solve and 5 minutes to upload this notebook.  
    
*Once your are done reading the instructions, you can hide them by clicking the arrow next to* **Instructions**.

## Integrity Declaration:


    1. I will complete this assessment entirely by myself without taking any assistance whatsoever from a person, 
    resource or tool other than what is explicitly permitted within the regulations prescribed for this assessment.  
    2. I will not disclose, share or discuss the material of this assessment in any form with anyone except what 
    has been authorized.  
    3. I will uphold the highest standards of honesty and integrity for completing this assessment to the best of 
    my knowledge.  
    4. I am fully accountable for all rules pertaining to this assessment.  
    5. I understand that ignorance of a rule or a principle is not an excuse for any misconduct.  
    6. I understand that engaging in an act of a misconduct would result in imposition of penalties such as 
    failing this course and/or a dismissal from the University.  
  
*Once your are done reading the instructions, you can hide them by clicking the arrow next to* **Integrity Declaration**.  

**By clicking the arrow below (letf side of Problem-A), you are agree to the above points.**

## Problem-A

Consider the data given in the CSV file "Midterm_A_s201914970_MUJTABA_BABIKIR". 
The data contains the column headings. Do not rename the column headings. Do the following tasks:

Q1. Read and display the first 8 rows of data.
Count and display the number of rows and columns in the data. Count and display the number of non-null rows for each
column. Display the data info.  **[3 marks]**

In [33]:
#Answer for Q1.
import pandas as pd
df = pd.read_csv('Midterm_A_s201914970_MUJTABA_BABIKIR.csv', delimiter=",", index_col=0)
display(df.iloc[0:8,:])
print(f'The number of rows are {len(df.index)}, and the number of columns are {len(df.columns)}')
print(f'The number of non-null rows for each column are:\n{df.count()}')

,feature-A,feature-B,feature-C,feature-D,feature-E,feature-F,feature-G,feature-H,feature-I,feature-J
0,,,,,,,,,,
0,Kid,Female,9.5,5.6,$ 709,Public School,$ 99.55,High Score,Physics,5.0
1,Adult,Female,8.1,5.2,$ 715,Public School,$ 89.70,Average Score,Chemistry,9.5
2,Kid,Female,9.6,6.0,$ 901,NaN,$ 33.72,Average Score,Mathematics,5.3
3,Adult,Female,7.1,7.9,$ 918,Home School,$ 26.74,Low Score,Physics,NaN
4,Adult,Female,8.6,7.2,$ 775,Public School,$ 37.68,Average Score,Mathematics,7.4
5,Kid,Male,6.4,8.0,$ 669,Private School,$ 17.54,High Score,Physics,7.9
6,Kid,Male,5.6,6.9,$ 636,Private School,$ 32.49,High Score,Mathematics,5.0
7,Kid,Female,5.7,7.3,$ 506,Private School,$ 97.83,High Score,Chemistry,9.6

The number of rows are 393, and the number of columns are 10
The number of non-null rows for each column are:
feature-A    393
feature-B    393
feature-C    393
feature-D    393
feature-E    393
feature-F    365
feature-G    393
feature-H    393
feature-I    393
feature-J    366
dtype: int64

Q2. Identify the datatype of column "feature-E" in Python. Resolve any inconsistency.  **[1 marks]**

In [34]:
#Answer for Q2.
df.info()
# as show from the result the type is object but it should be number (integer)
df["feature-E"]=df["feature-E"].apply(lambda x: int(x.replace("$",""))) 
df.info() # inconsistency resolved

<class 'pandas.core.frame.DataFrame'>
Int64Index: 393 entries, 0 to 392
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   feature-A  393 non-null    object
 1   feature-B  393 non-null    object
 2   feature-C  393 non-null    float64
 3   feature-D  393 non-null    float64
 4   feature-E  393 non-null    object
 5   feature-F  365 non-null    object
 6   feature-G  393 non-null    object
 7   feature-H  393 non-null    object
 8   feature-I  393 non-null    object
 9   feature-J  366 non-null    float64
dtypes: float64(3), object(7)
memory usage: 33.8+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 393 entries, 0 to 392
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   feature-A  393 non-null    object
 1   feature-B  393 non-null    object
 2   feature-C  393 non-null    float64
 3   feature-D  393 non-null    float64
 4   feature-E  393 non-null    int64
 5   feature-F  365 non-null    object
 6   feature-G  393 non-null    object
 7   feature-H  393 non-null    object
 8   feature-I  393 non-null    object
 9   feature-J  366 non-null    float64
dtypes: float64(3), int64(1), object(6)
memory usage: 33.8+ KB

Q3. Transform column "feature-A" using label encoder.  **[1 marks]**

In [35]:
#Answer for Q3.
df= pd.get_dummies(df, columns=['feature-A'],drop_first=True)
display(df2)

,feature-B,feature-C,feature-D,feature-E,feature-F,feature-G,feature-H,feature-I,feature-J,feature-A_Kid
0,,,,,,,,,,
0,Female,9.5,5.6,709,Public School,$ 99.55,High Score,Physics,5.0,1
1,Female,8.1,5.2,715,Public School,$ 89.70,Average Score,Chemistry,9.5,0
2,Female,9.6,6.0,901,NaN,$ 33.72,Average Score,Mathematics,5.3,1
3,Female,7.1,7.9,918,Home School,$ 26.74,Low Score,Physics,NaN,0
4,Female,8.6,7.2,775,Public School,$ 37.68,Average Score,Mathematics,7.4,0
...,...,...,...,...,...,...,...,...,...,...
388,Female,9.0,9.7,613,Home School,$ 96.97,High Score,Physics,9.9,1
389,Female,9.6,9.3,954,Home School,$ 95.39,High Score,Physics,9.6,1
390,Male,9.4,6.0,891,Public School,$ 79.09,Average Score,Physics,NaN,1
391,Male,9.9,5.5,573,Private School,$ 55.49,High Score,Mathematics,8.0,0
392,Male,6.8,6.9,674,Public School,$ 12.25,Average Score,Mathematics,5.8,0

Q4. Create a new field, called "newFeature". The values in "newFeature" should be as follows:

* If "feature-H" = "High Score", then the value should be "High".
* If "feature-H" = "Avg Score", then the value should be "Avg".
* If "feature-H" = "Low Score", then the value should be "Low".  **[2 marks]**

In [36]:
#Answer for Q4.
import numpy as np
Cond=[
    (df['feature-H']=='High Score'),
    (df['feature-H']=='Avg Score'),
    (df['feature-H']=='Low Score')]
Values=['High','Avg','Low']
df['newFeature']=np.select(Cond,Values)
display(df)

,feature-B,feature-C,feature-D,feature-E,feature-F,feature-G,feature-H,feature-I,feature-J,feature-A_Kid,newFeature
0,,,,,,,,,,,
0,Female,9.5,5.6,709,Public School,$ 99.55,High Score,Physics,5.0,1,High
1,Female,8.1,5.2,715,Public School,$ 89.70,Average Score,Chemistry,9.5,0,0
2,Female,9.6,6.0,901,NaN,$ 33.72,Average Score,Mathematics,5.3,1,0
3,Female,7.1,7.9,918,Home School,$ 26.74,Low Score,Physics,NaN,0,Low
4,Female,8.6,7.2,775,Public School,$ 37.68,Average Score,Mathematics,7.4,0,0
...,...,...,...,...,...,...,...,...,...,...,...
388,Female,9.0,9.7,613,Home School,$ 96.97,High Score,Physics,9.9,1,High
389,Female,9.6,9.3,954,Home School,$ 95.39,High Score,Physics,9.6,1,High
390,Male,9.4,6.0,891,Public School,$ 79.09,Average Score,Physics,NaN,1,0
391,Male,9.9,5.5,573,Private School,$ 55.49,High Score,Mathematics,8.0,0,High
392,Male,6.8,6.9,674,Public School,$ 12.25,Average Score,Mathematics,5.8,0,0

Q5. Compute proportion of values in column "feature-H" that are equal to "Low Score".  **[2 marks]**

In [37]:
#Answer for Q5.
seleted_rows = (df['feature-H']=='Low Score').count
print(selected_rows)

0
0       True
1       True
2       True
3       True
4       True
       ...
388     True
389     True
390    False
391    False
392    False
Name: feature-B, Length: 393, dtype: bool

Q6. Compute the mean of column "feature-C" for the rows that have column "feature-B" 
values equal to "Female".  **[3 marks]**

In [38]:
#Answer for Q6
selected_rows=(df['feature-B']=='Female')
df['feature-C'].mean()[selected_rows]

TypeError: 'float' object is not subscriptable

Q7. Split the data in column "feature-C" into training and testing data, where the proportion of test data is 0.4.
Use random seed = 158. Check whether they have the same distribution using hypothesis testing. Use p-value as 0.4.  **[3 marks]**

In [40]:
#Answer for Q7.
from sklearn.model_selection import train_test_split
X = df.iloc[:,:-1].values
y = df.iloc[:, -1].values 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=158)
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

scaler.fit(np.c_[X_train,y_train])

A_train = scaler.transform(np.c_[X_train,y_train])
X_train = A_train[:,:-1]
y_train = A_train[:,-1]

A_test = scaler.transform(np.c_[X_test,y_test])
X_test = A_test[:,:-1]
y_test = A_test[:,-1]
ttest,pval = ttest_ind(X_train,y_train)
print('p-value',pval)

if pval <0.4:
    print("We reject null hypothesis")
else:
    print("We fail to reject null hypothesis")

ValueError: could not convert string to float: 'Male'

In [ ]:
# Scratch / Rough cell: